$colors: (
    'primary': #F7FBFB,
    'accent': #5B86A1,
    'black': #1B1D1B,
    'black-secondary': #202321,
    'input-border-color': #A3A5A3,
);

$size: (
    'little': 14px,
    'small': 16px,
    'little-small': 18px,
    'medium': 20px,
    'large': 24px,
    'large-f': 28px,
    'more-lage': 32px,
    'large-40': 40,
    'big-size': 48px, 
    'big': 52px,
    'more-big': 60px,
    'very-big': 68px,
    'big-88': 88px,
);

$tours: carpathians, bukovel, hoverla;

$tours-day: hoverla-day-1, hoverla-day-2, hoverla-day-3, 
bukovel-day-1, bukovel-day-2, bukovel-day-3, bukovel-day-4, 
carpatian-day-1, carpatian-day-2, carpatian-day-3, carpatian-day-4,
carpatian-day-5, carpatian-day-6, carpatian-day-7;

@function getColor($key) {
    @return map-get($colors, $key);
}

@function getSize($key) {
    @return map-get($size, $key);
}