<footer class="footer">
    <div class="footer-address">
        <h2 class="footer__title">Contacts</h2>
        <div>
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__link" href="https://www.google.com/maps?q=Lviv,+Doroshenka+44" target="_blank" rel="noreferrer noopener">
                        <svg class="social-svg-addres">
                            <use href="./images/svg-sprite/symbol-defs.svg#icon-place"></use>
                        </svg>Lviv, st Dorosheko, 44 k
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="tel:+380971626790" target="_blank" rel="noreferrer noopener">
                        <svg class="social-svg-addres">
                            <use href="./images/svg-sprite/symbol-defs.svg#icon-phone"></use>
                        </svg>+38 (097) 162 -67-90
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="mailto:mandrykarpaty@gmail.com" target="_blank" rel="noreferrer noopener">
                        <svg class="social-svg-addres">
                            <use href="./images/svg-sprite/symbol-defs.svg#icon-email"></use>
                        </svg>mandrykarpaty@gmail.com
                    </a>
                </li>
            </ul>
            <ul class="social-link">
                <li class="social-link__item">
                    <a href="https://web.telegram.org/" target="_blank" rel="noreferrer noopener" aria-label="telegram-link">
                        <svg class="social-svg">
                            <use href="./images/svg-sprite/symbol-defs.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-link__item">
                    <a href="https://www.instagram.com/" target="_blank" rel="noreferrer noopener" aria-label="instagram-link">
                        <svg class="social-svg">
                            <use href="./images/svg-sprite/symbol-defs.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-link__item">
                    <a href="https://www.facebook.com/" target="_blank" rel="noreferrer noopener" aria-label="fecebook-link">
                        <svg class="social-svg">
                            <use href="./images/svg-sprite/symbol-defs.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <p class="footer__rights">&copy; Created by LelekaSoft</p>
</footer>