<section class="container section gallery">
    <h2 class="title">Gallery</h2>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <picture>
                    <source 
                        srcset="
                            ./images/gallery/gallery-fall-sky-desktop-1x.jpg,
                            ./images/gallery/gallery-fall-sky-desktop-2x.jpg 2x,
                            ./images/gallery/gallery-fall-sky-desktop-3x.jpg 3x,
                            ./images/gallery/gallery-fall-sky-desktop-4x.jpg 4x"
                        sizes="(min-width: 1440px) 575px" 
                        media="(min-width: 1440px)">
                    
                    <source 
                        srcset="
                            ./images/gallery/gallery-fall-sky-tablet-1x.jpg,
                            ./images/gallery/gallery-fall-sky-tablet-2x.jpg 2x,
                            ./images/gallery/gallery-fall-sky-tablet-3x.jpg 3x,
                            ./images/gallery/gallery-fall-sky-tablet-4x.jpg 4x"
                        sizes="(min-width: 768px) 354px" 
                        media="(min-width: 768px)">
                    
                    <source 
                        srcset="
                            ./images/gallery/gallery-fall-sky-mobile-1x.jpg,
                            ./images/gallery/gallery-fall-sky-mobile-2x.jpg 2x,
                            ./images/gallery/gallery-fall-sky-mobile-3x.jpg 3x,
                            ./images/gallery/gallery-fall-sky-mobile-4x.jpg 4x"
                        sizes="(min-width: 375px) 280px" 
                        media="(min-width: 375px)">
                    
                        <img width="575" height="445" loading="lazy" src="./images/gallery/gallery-fall-sky-mobile-1x.jpg" alt="fall-sky">
                </picture>
            </div>
            <div class="swiper-slide">
                <picture>
                    <source 
                        srcset="
                            ./images/gallery/gallery-river-desktop-1x.jpg,
                            ./images/gallery/gallery-river-desktop-2x.jpg 2x,
                            ./images/gallery/gallery-river-desktop-3x.jpg 3x,
                            ./images/gallery/gallery-river-desktop-4x.jpg 4x"
                        sizes="(min-width: 1440px) 575px" 
                        media="(min-width: 1440px)">
                    
                    <source 
                        srcset="
                        ./images/gallery/gallery-river-tablet-1x.jpg,
                        ./images/gallery/gallery-river-tablet-2x.jpg 2x,
                        ./images/gallery/gallery-river-tablet-3x.jpg 3x,
                        ./images/gallery/gallery-river-tablet-4x.jpg 4x"
                        sizes="(min-width: 768px) 354px" 
                        media="(min-width: 768px)">
                    
                    <source 
                        srcset="
                        ./images/gallery/gallery-river-mobile-1x.jpg,
                        ./images/gallery/gallery-river-mobile-2x.jpg 2x,
                        ./images/gallery/gallery-river-mobile-3x.jpg 3x,
                        ./images/gallery/gallery-river-mobile-4x.jpg 4x"
                        sizes="(min-width: 375px) 280px" 
                        media="(min-width: 375px)">
                    
                        <img width="575" height="445" loading="lazy" src="./images/gallery/gallery-river-mobile-1x.jpg" alt="river">
                </picture>
            </div>
            <div class="swiper-slide">
                <picture>
                    <source 
                        srcset="
                            ./images/gallery/gallery-spring-flowers-desktop-1x.jpg,
                            ./images/gallery/gallery-spring-flowers-desktop-2x.jpg 2x,
                            ./images/gallery/gallery-spring-flowers-desktop-3x.jpg 3x,
                            ./images/gallery/gallery-spring-flowers-desktop-4x.jpg 4x"
                        sizes="(min-width: 1440px) 575px" 
                        media="(min-width: 1440px)">
                    
                    <source 
                        srcset="
                    ./images/gallery/gallery-spring-flowers-tablet-1x.jpg,
                    ./images/gallery/gallery-spring-flowers-tablet-2x.jpg 2x,
                    ./images/gallery/gallery-spring-flowers-tablet-3x.jpg 3x,
                    ./images/gallery/gallery-spring-flowers-tablet-4x.jpg 4x"
                        sizes="(min-width: 768px) 354px" 
                        media="(min-width: 768px)">
                    
                    <source 
                        srcset="
                    ./images/gallery/gallery-spring-flowers-mobile-1x.jpg,
                    ./images/gallery/gallery-spring-flowers-mobile-2x.jpg 2x,
                    ./images/gallery/gallery-spring-flowers-mobile-3x.jpg 3x,
                    ./images/gallery/gallery-spring-flowers-mobile-4x.jpg 4x"
                        sizes="(min-width: 375px) 280px" 
                        media="(min-width: 375px)">
                    
                        <img width="575" height="445" loading="lazy" src="./images/gallery/gallery-spring-flowers-mobile-1x.jpg" alt="spring-flowers">
                </picture>
            </div>
            <div class="swiper-slide">
                <picture>
                    <source 
                        srcset="
                            ./images/gallery/gallery-spring-lake-desktop-1x.jpg,
                            ./images/gallery/gallery-spring-lake-desktop-2x.jpg 2x,
                            ./images/gallery/gallery-spring-lake-desktop-3x.jpg 3x,
                            ./images/gallery/gallery-spring-lake-desktop-4x.jpg 4x"
                        sizes="(min-width: 1440px) 575px" 
                        media="(min-width: 1440px)">
                    
                    <source 
                        srcset="
                ./images/gallery/gallery-spring-lake-tablet-1x.jpg,
                ./images/gallery/gallery-spring-lake-tablet-2x.jpg 2x,
                ./images/gallery/gallery-spring-lake-tablet-3x.jpg 3x,
                ./images/gallery/gallery-spring-lake-tablet-4x.jpg 4x"
                        sizes="(min-width: 768px) 354px" 
                        media="(min-width: 768px)">
                    
                    <source 
                        srcset="
                ./images/gallery/gallery-spring-lake-mobile-1x.jpg,
                ./images/gallery/gallery-spring-lake-mobile-2x.jpg 2x,
                ./images/gallery/gallery-spring-lake-mobile-3x.jpg 3x,
                ./images/gallery/gallery-spring-lake-mobile-4x.jpg 4x"
                        sizes="(min-width: 375px) 280px" 
                        media="(min-width: 375px)">
                    
                        <img width="575" height="445" loading="lazy" src="./images/gallery/gallery-spring-lake-mobile-1x.jpg" alt="spring-lake">
                </picture>
            </div>
            <div class="swiper-slide">
                <picture>
                    <source 
                        srcset="
                            ./images/gallery/gallery-mount-winter-desktop-1x.jpg,
                            ./images/gallery/gallery-mount-winter-desktop-2x.jpg 2x,
                            ./images/gallery/gallery-mount-winter-desktop-3x.jpg 3x,
                            ./images/gallery/gallery-mount-winter-desktop-4x.jpg 4x"
                        sizes="(min-width: 1440px) 575px" 
                        media="(min-width: 1440px)">
                    
                    <source 
                        srcset="
               ./images/gallery/gallery-mount-winter-tablet-1x.jpg,
               ./images/gallery/gallery-mount-winter-tablet-2x.jpg 2x,
               ./images/gallery/gallery-mount-winter-tablet-3x.jpg 3x,
               ./images/gallery/gallery-mount-winter-tablet-4x.jpg 4x"
                        sizes="(min-width: 768px) 354px" 
                        media="(min-width: 768px)">
                    
                    <source 
                        srcset="
               ./images/gallery/gallery-mount-winter-mobile-1x.jpg,
               ./images/gallery/gallery-mount-winter-mobile-2x.jpg 2x,
               ./images/gallery/gallery-mount-winter-mobile-3x.jpg 3x,
               ./images/gallery/gallery-mount-winter-mobile-4x.jpg 4x"
                        sizes="(min-width: 375px) 280px" 
                        media="(min-width: 375px)">
                    
                        <img width="575" height="445" loading="lazy" src="./images/gallery/gallery-mount-winter-mobile-1x.jpg" alt="-mount-winter">
                </picture>
            </div>
            <div class="swiper-slide">
                <picture>
                    <source 
                        srcset="
                            ./images/gallery/gallery-winter-sky-desktop-1x.jpg,
                            ./images/gallery/gallery-winter-sky-desktop-2x.jpg 2x,
                            ./images/gallery/gallery-winter-sky-desktop-3x.jpg 3x,
                            ./images/gallery/gallery-winter-sky-desktop-4x.jpg 4x"
                        sizes="(min-width: 1440px) 575px" 
                        media="(min-width: 1440px)">
                    
                    <source 
                        srcset="
                          ./images/gallery/gallery-winter-sky-tablet-1x.jpg,
                          ./images/gallery/gallery-winter-sky-tablet-2x.jpg 2x,
                          ./images/gallery/gallery-winter-sky-tablet-3x.jpg 3x,
                          ./images/gallery/gallery-winter-sky-tablet-4x.jpg 4x"
                        sizes="(min-width: 768px) 354px" 
                        media="(min-width: 768px)">
                    
                    <source 
                        srcset="
                          ./images/gallery/gallery-winter-sky-mobile-1x.jpg,
                          ./images/gallery/gallery-winter-sky-mobile-2x.jpg 2x,
                          ./images/gallery/gallery-winter-sky-mobile-3x.jpg 3x,
                          ./images/gallery/gallery-winter-sky-mobile-4x.jpg 4x"
                        sizes="(min-width: 375px) 280px" 
                        media="(min-width: 375px)">
                    
                        <img width="575" height="445" loading="lazy" src="./images/gallery/gallery-winter-sky-mobile-1x.jpg" alt="winter-sky">
                </picture>
            </div>
            <div class="swiper-slide">
                <picture>
                    <source 
                        srcset="
                            ./images/gallery/gallery-pink-sky-desktop-1x.jpg,
                            ./images/gallery/gallery-pink-sky-desktop-2x.jpg 2x,
                            ./images/gallery/gallery-pink-sky-desktop-3x.jpg 3x,
                            ./images/gallery/gallery-pink-sky-desktop-4x.jpg 4x"
                        sizes="(min-width: 1440px) 575px" 
                        media="(min-width: 1440px)">
                    
                    <source 
                        srcset="
                           ./images/gallery/gallery-pink-sky-tablet-1x.jpg,
                           ./images/gallery/gallery-pink-sky-tablet-2x.jpg 2x,
                           ./images/gallery/gallery-pink-sky-tablet-3x.jpg 3x,
                           ./images/gallery/gallery-pink-sky-tablet-4x.jpg 4x"
                        sizes="(min-width: 768px) 354px" 
                        media="(min-width: 768px)">
                    
                    <source 
                        srcset="
                           ./images/gallery/gallery-pink-sky-mobile-1x.jpg,
                           ./images/gallery/gallery-pink-sky-mobile-2x.jpg 2x,
                           ./images/gallery/gallery-pink-sky-mobile-3x.jpg 3x,
                           ./images/gallery/gallery-pink-sky-mobile-4x.jpg 4x"
                        sizes="(min-width: 375px) 280px" 
                        media="(min-width: 375px)">
                    
                        <img width="575" height="445" loading="lazy" src="./images/gallery/gallery-pink-sky-mobile-1x.jpg" alt="pink-sky">
                </picture>
            </div>
            <div class="swiper-slide">
                <picture>
                    <source 
                        srcset="
                            ./images/gallery/gallery-sun-desktop-1x.jpg,
                            ./images/gallery/gallery-sun-desktop-2x.jpg 2x,
                            ./images/gallery/gallery-sun-desktop-3x.jpg 3x,
                            ./images/gallery/gallery-sun-desktop-4x.jpg 4x"
                        sizes="(min-width: 1440px) 575px" 
                        media="(min-width: 1440px)">
                    
                    <source 
                        srcset="
                            ./images/gallery/gallery-sun-tablet-1x.jpg,
                            ./images/gallery/gallery-sun-tablet-2x.jpg 2x,
                            ./images/gallery/gallery-sun-tablet-3x.jpg 3x,
                            ./images/gallery/gallery-sun-tablet-4x.jpg 4x"
                        sizes="(min-width: 768px) 354px" 
                        media="(min-width: 768px)">
                    
                    <source 
                        srcset="
                            ./images/gallery/gallery-sun-mobile-1x.jpg,
                            ./images/gallery/gallery-sun-mobile-2x.jpg 2x,
                            ./images/gallery/gallery-sun-mobile-3x.jpg 3x,
                            ./images/gallery/gallery-sun-mobile-4x.jpg 4x"
                        sizes="(min-width: 375px) 280px" 
                        media="(min-width: 375px)">
                    
                    <img width="575" height="445" loading="lazy" src="./images/gallery/gallery-sun-mobile-1x.jpg" alt="mounting-sun">
                </picture>
            </div>
        </div>
        <div class="gallery__button">
            <button class="gallery__button-next">←</button>
            <button class="gallery__button-prev">→</button>
        </div>
    </div>
</section>