<header class="container header">
    <a class="logo" href="./index.html" aria-label="logo">
        <svg class="logo-svg">
            <use href="./images/svg-sprite/symbol-defs.svg#icon-logo"></use>
        </svg>
    </a>
    <nav class="header__nav">
        <ul class="header-nav__list">
            <li class="header-nav__item">
                <a href="#about">About us</a>
            </li>
            <li class="header-nav__item">
                <a href="#tours">Tours</a>
            </li>
            <li class="header-nav__item">
                <a href="#reviews">Reviews</a>
            </li>
            <li class="header-nav__item">
                <a href="#gallery">Gallery</a>
            </li>
            <li class="header-nav__item">
                <a href="#contacts">Contacts</a>
            </li>
        </ul>
    </nav>
    <button class="menu" aria-label="menu">
        <svg class="social-svg">
            <use href="./images/svg-sprite/symbol-defs.svg#icon-menu"></use>
        </svg>
    </button>
</header>