<section class="hero">
    <div class="container">
        <h1 class="hero__title">TOURS TO THE CARPATHIANS FROM LVIV</h1>
    <p class="hero__description">
        Journeys to the very heart of the Carpathians 
        for those who want a real reboot
    </p>
    <div class="hero-wrapper">
        <button class="primari-btn hero-btn-js">BOOK A TOUR</button>
        <ul class="hero-social social-link">
            <li class="social-link__item">
                <a href="https://web.telegram.org/" target="_blank" rel="noreferrer noopener" aria-label="telegram-link">
                    <svg class="social-svg">
                        <use href="./images/svg-sprite/symbol-defs.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="social-link__item">
                <a href="https://www.instagram.com/" target="_blank" rel="noreferrer noopener" aria-label="instagram-link">
                    <svg class="social-svg">
                        <use href="./images/svg-sprite/symbol-defs.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="social-link__item">
                <a href="https://www.facebook.com/" target="_blank" rel="noreferrer noopener" aria-label="fecebook-link">
                    <svg class="social-svg">
                        <use href="./images/svg-sprite/symbol-defs.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
    </div>
</section>