<div class="backdrop-hero is-hidden">
    <div class="modal-hero">
        <form>
            <h2 class="title modal-hero__title">Book a tour</h2>
            <p class="modal-hero__description">
                <span>You can leave your application here</span> 
                <span>and our manager will call</span> 
                <span>you within 10 minutes</span>
            </p>
            <div class="form-wrapper">
                <input class="modal-hero__input first" type="text" name="name" id="name" placeholder="Your name*">
                <input class="modal-hero__input" type="tel" name="tel" id="tel" placeholder="Phone number*">
                <div class="checkbox-wrapper">
                    <label class="modal-hero__check" for="hoverla">
                        <input type="checkbox" name="hoverla" id="hoverla">
                        Ascent to Hoverla
                    </label>
                    
                    <label class="modal-hero__check" for="bukovel">
                        <input type="checkbox" name="bukovel" id="bukovel">
                        Ski tour to Bukovel
                    </label>
                    <label class="modal-hero__check" for="carpathians">
                        <input type="checkbox" name="carpathians" id="carpathians">
                        Week in Carpathians
                    </label>
                </div>
                <button class="primari-btn">CALL ME</button>
            </div>
        </form>
        <button class="btn-close close-js" aria-label="button-close">
            <svg>
                <use href="./images/svg-sprite/symbol-defs.svg#icon-Icon-Close"></use>
            </svg>
        </button>
    </div>
</div>