<section class="container questions">
    <div class="questions__wrapper">
        <h2 class="questions__title">Do you have any questions?</h2>
        <p class="questions__description">
            You can leave your 
            questions here and our
            manager will call you back
            within 10 minutes
        </p>
        <form class="questions__form">
            <input type="text" placeholder="Your name*">
            <input type="tel" placeholder="Phone number*">
            <input type="text" placeholder="What would you like to know?">
            <button class="primari-btn">CALL ME</button>
        </form>
    </div>
</section>