<section class="container questions">
    <div class="questions__wrapper">
        <h2 class="questions__title"><span class="questions__title-brake">Do you have</span> any questions?</h2>
        <p class="questions__description">
            You can leave your questions here 
            and our manager will call you
            back within 10 minutes
        </p>
        <form class="questions__form">
            <input class="questions__input" type="text" placeholder="Your name*">
            <input class="questions__input" type="tel" placeholder="Phone number*">
            <input class="questions__input" type="text" placeholder="What would you like to know?">
            <button class="primari-btn">CALL ME</button>
        </form>
    </div>
</section>