<section class="section container">
    <h2 id="reviews" class="title">Reviews</h2>
    <ul class="reviews__list">
        <li class="reviews__item">
            <div class="reviews__item-bg maria"></div>
            <h3 class="reviews__title maria-title">Maria</h3>
            <p>
                It was really cool!
                We saw everything - sun,
                snow, rain, fog! It's very exciting
                and interesting, you won't regret it 
                - it's worth going and seeing everything
                with your own eyes. Everything is organized
                at the highest level.
            </p>
        </li>
        <li class="reviews__item">
            <div class="reviews__item-bg ostap"></div>
            <h3 class="reviews__title ostap-title">Ostap</h3>
            <p>
                Good organization, everything went smoothly.
                Friendly guide Taras told interesting facts 
                about the area and customs throughout the tour.
            </p>
        </li>
        <li class="reviews__item hidde">
            <div class="reviews__item-bg anita"></div>
            <h3 class="reviews__title anita-title">Anita</h3>
            <p>
                Who is going to the mountains for the first 
                time - this is exactly the tour and the people 
                who organize everything. Guide Makar is 
                interesting stories, selection of a route for a 
                comfortable ascent, motivation and support.
            </p>
        </li>
    </ul>
</section>