<section class="container section">
    <h2 id="tours" class="title">Upcoming tours</h2>
    <div class="swiper upcomingSwiper sw-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide upcoming__item hoverla">
            <h3 class="upcoming__title">Ascent to Hoverla</h3>
            <p class="upcoming__description">From UAH 4,499/person</p>
            <button class="open-hoverla-js primari-btn">MORE DETAILS</button>
          </div>
          <div class="swiper-slide upcoming__item bukovel">
            <h3 class="upcoming__title">Ski tour to Bukovel</h3>
            <p class="upcoming__description">From UAH 7,499/person</p>
            <button class="open-bukovel-js primari-btn">MORE DETAILS</button>
          </div>
          <div class="swiper-slide upcoming__item carpathians">
            <h3 class="upcoming__title">Week in Carpathians</h3>
            <p class="upcoming__description">From UAH 9,999/person</p>
            <button class="open-carpatian-js primari-btn">MORE DETAILS</button>
          </div>
        </div>
        <div class="gallery__button">
          <button class="gallery__button-prev">
              <svg class="swiper-svg">
                  <use href="./images/svg-sprite/symbol-defs.svg#icon-left"></use>
              </svg>
          </button>
          <button class="gallery__button-next">
              <svg class="swiper-svg">
                  <use href="./images/svg-sprite/symbol-defs.svg#icon-right"></use>
              </svg>
          </button>
      </div>
      </div>
</section>