<section class="container section">
    <h2 class="title">Upcoming tours</h2>
    <div class="swiper upcomingSwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide upcoming__item hoverla">
            <h3 class="upcoming__title">Ascent to Hoverla</h3>
            <p class="upcoming__description">From UAH 4,499/person</p>
            <button class="primari-btn">MORE DETAILS</button>
          </div>
          <div class="swiper-slide upcoming__item bukovel">
            <h3 class="upcoming__title">Ski tour to Bukovel</h3>
            <p class="upcoming__description">From UAH 7,499/person</p>
            <button class="primari-btn">MORE DETAILS</button>
          </div>
          <div class="swiper-slide upcoming__item carpathians">
            <h3 class="upcoming__title">Week in Carpathians</h3>
            <p class="upcoming__description">From UAH 9,999/person</p>
            <button class="primari-btn">MORE DETAILS</button>
          </div>
        </div>
      </div>
</section>