<div class="upcoming-backdrop is-hidden">
    <div class="upcoming-modal">
        <div class="swiper modalSwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide hoverla-modal day-1">
                    <h3 class="upcoming-modal__title">Ascent to Hoverla</h3>
                    <p class="upcoming-modal__day">1 day</p>
                    <ul class="upcoming-modal__list">
                        <li class="upcoming-modal__item">Departure from Lviv</li>
                        <li class="upcoming-modal__item">Manyava Hermitage</li>
                        <li class="upcoming-modal__item">Manyava waterfall</li>
                        <li class="upcoming-modal__item">Arrival to Bukovel</li>
                        <li class="upcoming-modal__item">Check-in</li>
                        <li class="upcoming-modal__item">Dinner</li>
                        <li class="upcoming-modal__item">Evening by the fireplace</li>
                    </ul>
                </div>
                <div class="swiper-slide hoverla-modal day-2">
                    <h3 class="upcoming-modal__title">Ascent to Hoverla</h3>
                    <p class="upcoming-modal__day">2 day</p>
                    <ul class="upcoming-modal__list">
                        <li class="upcoming-modal__item">Breakfast</li>
                        <li class="upcoming-modal__item">Ascent to Hoverla</li>
                        <li class="upcoming-modal__item">Dinner</li>
                        <li class="upcoming-modal__item">Reacretion</li>
                        <li class="upcoming-modal__item">Sauna</li>
                        <li class="upcoming-modal__item">Dinner</li>
                    </ul>
                </div>
                <div class="swiper-slide hoverla-modal day-3">
                    <h3 class="upcoming-modal__title">Ascent to Hoverla</h3>
                    <p class="upcoming-modal__day">3 day</p>
                    <ul class="upcoming-modal__list">
                        <li class="upcoming-modal__item">Breakfast</li>
                        <li class="upcoming-modal__item">A walk around Bukovel</li>
                        <li class="upcoming-modal__item">Check out from the hotel</li>
                        <li class="upcoming-modal__item">Yaremche</li>
                        <li class="upcoming-modal__item">Arrival in Lviv</li>
                    </ul>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="upcoming-modal__panel">
            <p class="upcoming-modal__panel-price">From UAH 4,499/person</p>
            <button class="primari-btn hero-btn-js">BOOK A TOUR</button>
        </div>
        <button class="upcoming-btn-close upcoming-btn-close-js" aria-label="button-close">
            <svg>
                <use href="./images/svg-sprite/symbol-defs.svg#icon-Icon-Close"></use>
            </svg>
        </button>
    </div>
</div>