.primari-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    color: getColor('primary');
    background-color: getColor('accent');
    border: none;
    margin: 0 auto;

    @media screen and (min-width: 320px) and (max-width: 480px) {
       font-size: getSize('small');
       padding: 15px;
       width: 100%;
    }

    @media screen and (min-width: 375px) and (max-width: 768px) {
        padding: 15px;
        width: 285px;
    }

    @media screen and (min-width: 768px) and (max-width: 1439px) {
        width: 394px;
        font-size: getSize('medium');
        padding: 16px 0;
    }

    @media screen and (min-width: 1440px) {
        width: 575px;
        height: 69px;
        font-size: getSize('large');
        padding: 20px 0;
    }
}

.btn-disabled {
    display: none;
}