.logo {
    display: inline-block;
    @include size(40px);

    @media screen and (min-width: 768px) {
        @include size(60px);
    }

    & .logo-svg:hover {
        fill: getColor('accent');
        transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.logo-svg {
    transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
    @include size(100%);
    fill: getColor('primary');
}