.social-link {
    display: flex;

    & .social-link__item:not(:last-child) {
        margin-right: 32px;
    }
}

.social-svg {
    @include size(40px);
    fill: getColor('primary');
    transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: getColor('accent');
        transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.social-svg-addres {
    @include size(32px);
    margin-right: 4px;
}

@media screen and (min-width: 768px) {
    .social-svg-addres {
        @include size(40px);
        margin-right: 8px;
    }
}