.footer {
    padding: 40px 0;
    margin: 0 auto;
    color: getColor('primary');
    background-color: getColor('black-secondary');
    font-size: getSize('small');
    font-weight: 400;
}

.footer__title {
    margin-bottom: 34px;
    text-align: center;
    font-size: getSize('large-f');
    font-weight: 400;
}

.footer__link {
    @include flex(center);

    & > svg {
        fill: getColor('primary');
    }
}

.footer__list {
    margin-bottom: 20px;

    & .footer__item:not(:last-child) {
        margin-bottom: 32px;
    }
}

.footer__rights {
    margin-top: 40px;
    color: getColor('input-border-color');
    font-size: getSize('small');
    text-align: center;
}

@media screen and (min-width: 768px) {
    .footer {
        padding: 60px 0;
    }

    .footer-address {
        @include flex(null, center);
    }

    .footer__list {
        margin-bottom: 40px;

        & .footer__item:not(:last-child) {
            margin-bottom: 40px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .footer {
        font-size: getSize('little-small');
    }

    .footer__title {
        font-size: getSize('more-lage');
        margin: 0 137px 0 0;
    }
}

@media screen and (min-width: 1440px) {
    .footer {
        font-size: getSize('large');
    }

    .footer__title {
        font-size: getSize('more-big');
        margin: 0 128px 0 0;
    }

    .footer__rights {
        margin-top: 64px;
    }
}