.advantages__list {
    margin: 0 auto;
    padding: 87px 0;
    color: getColor('primary');
    background-image: url(../images/our-advantages/advantages-mobile-1x.jpg);
    background-position: center;
    background-size: cover;
    font-size: getSize('little');

    @include retina(2) {
        background-image: url(../images/our-advantages/advantages-mobile-2x.jpg);
    }

    @include retina(3) {
        background-image: url(../images/our-advantages/advantages-mobile-3x.jpg);
    }

    & .advantages__item:not(:last-child) {
        margin-bottom: 28px;
    }
}

.advantages__item {
    margin: 0 auto;
    width: 100%;
    padding: 11px 0;
    background-color: getColor('accent');
}

.description-star {
    @include flex(center);

    &::before {
        content: "";
        display: block;
        margin: 0 8px 0 30px;
        @include size(24px);
        background: url(../images/reviews/star.png) no-repeat center / contain;
    }
}

@media screen and (min-width: 768px) {
    .description-star::before {
        @include size(40px);
    }

    .advantages__list {
        padding: 80px 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .advantages__list {
        width: 728px;
        font-size: getSize('medium');
        background: 
        url('../images/our-advantages/advantages-2-tablet-1x.jpg') no-repeat top left,
        url('../images/our-advantages/advantages-tablet-1x.jpg') no-repeat bottom right;

        & .advantages__item:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    .advantages__item {
        width: 604px;
        padding: 12px 0;
    }

    .description-star::before {
        margin: 0 12px 0 44px;
    }
}

@media screen and (min-width: 1440px) {
    .advantages__list {
        font-size: getSize('large');
        background: 
        url('../images/our-advantages/advantages-2-desktop-1x.jpg') no-repeat top left,
        url('../images/our-advantages/advantages-center-1x.jpg') no-repeat center center,
        url('../images/our-advantages/advantages-desktop-1x.jpg') no-repeat bottom right;

        & .advantages__item:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    .advantages__item {
        width: 630px;
        padding: 12.5px 0;
    }

    .description-star::before {
        margin: 0 12px 0 126px;
    }
}