.questions {
    margin: 0 auto;
    padding: 116px 0;
    width: 100%;
    background: url(../images/questions/questyons-bg-mobile-1x.jpg) center / cover no-repeat;
    
    @include retina(2) {
        background-image: url(../images/questions/questyons-bg-mobile-2x.jpg);
    }

    @include retina(3) {
        background-image: url(../images/questions/questyons-bg-mobile-3x.jpg);
    }

    @include retina(4) {
        background-image: url(../images/questions/questyons-bg-mobile-4x.jpg);
    }
}

.questions__wrapper {
    max-width: 380px;
    padding: 28px 20px;
    margin: 0 auto;
    background-color: getColor('primary');
}

.questions__title {
    color: getColor('black');
    text-align: center;
    font-size: getSize('medium');
    font-weight: 500;
    line-height: normal;
}

.questions__description {
    margin: 20px auto 24px auto;
    width: 243px;
    font-size: getSize('little');
    text-align: center;
}

.questions__form {
    & > button {
        width: 100%;
        margin-top: 24px;
    }
    .questions__input {
        width: 100%;
        padding: 8px;
        border: none;
        border-bottom: 1px solid getColor('input-border-color');
        background-color: inherit;
    }
}

.questions__input {
    font-size: getSize('small');
    &:not(:last-of-type) {
        margin-bottom: 12px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .questions {
        padding: 88px 0;
        width: 100%;
        background-image: url(../images/questions/questyons-bg-tablet-1x.jpg); 

        @include retina(2) {
            background-image: url(../images/questions/questyons-bg-tablet-2x.jpg);
        }
    
        @include retina(3) {
            background-image: url(../images/questions/questyons-bg-tablet-3x.jpg);
        }
    
        @include retina(4) {
            background-image: url(../images/questions/questyons-bg-tablet-4x.jpg);
        }
    } 

    .questions__wrapper {
        padding: 40px 42px;
        max-width: 478px;
    }

    .questions__title {
        font-size: getSize('more-lage');
    }

    .questions__description {
        font-size: getSize('little-small');
        width: 374px;
        margin: 24px auto 32px auto;
    }

    .questions__input {
        width: 394px;
        font-size: getSize('medium');
        &:not(:last-of-type) {
            margin-bottom: 16px;
        }
    }

    .questions__form > button {
        margin-top: 32px;
    }
}

@media screen and (min-width: 1440px) {
    .questions {
        padding: 244px 0;
        width: 100%;
        background-image: url(../images/questions/questyons-bg-desk-1x.jpg);

        @include retina(2) {
            background-image: url(../images/questions/questyons-bg-desk-2x.jpg);
        }
    
        @include retina(3) {
            background-image: url(../images/questions/questyons-bg-desk-3x.jpg);
        }
    
        @include retina(4) {
            background-image: url(../images/questions/questyons-bg-desk-4x.jpg);
        }
    } 

    .questions__wrapper {
        padding: 60px 100px;
        max-width: 774px;
    }

    .questions__title {
        font-size: getSize('big-size');
    }

    .questions__description {
        font-size: getSize('medium');
        width: 502px;
        margin: 32px auto 44px auto;
    }

    .questions__input {
        font-size: getSize('large');
        &:not(:last-of-type) {
            margin-bottom: 20px;
        }
    }

    .questions__form > button {
        margin-top: 44px;
    }
}