.questions {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.questions__wrapper {
    margin: 0 auto;
    background-color: getColor('primary');
}

.questions__title {
    color: getColor('black');
    text-align: center;
    font-weight: 500;
    line-height: normal;
}

.questions__description {
    margin: 0 auto;
    text-align: center;
}

.questions__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .questions__input {
        padding: 8px;
        border: none;
        border-bottom: 1px solid getColor('input-border-color');
        background-color: inherit;
    }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .questions__wrapper {
        width: 256px;
    }

    .questions__title {
        width: 139px;
        margin: 24px auto 16px auto;
    }

    .questions__description {
        width: 200px;
    }

    .questions__input {
        width: 200px;
    }

    .questions__form > button {
        width: 200px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .questions {
        padding: 116px 0;
        width: 100%;
        height: 632px;
        background-image: url(../images/questions/questyons-bg-mobile-1x.jpg);
    }

    .questions__wrapper {
        height: 399px;
    }

    .questions__title {
        font-size: getSize('medium');
    }

    .questions__description {
        font-size: getSize('little');
        margin-bottom: 24px;
    }

    .questions__input {
        font-size: getSize('small');
        &:not(:last-of-type) {
            margin-bottom: 12px;
        }
    }

    .questions__form > button {
        margin-top: 24px;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .questions {

        @media screen and (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url(../images/questions/questyons-bg-mobile-2x.jpg);
        }

        @media screen and (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3),
        screen and (min-resolution: 288dpi),
        screen and (min-resolution: 3dppx) {
            background-image: url(../images/questions/questyons-bg-mobile-3x.jpg);
        }

        @media screen and (min-device-pixel-ratio: 4),
        (-webkit-min-device-pixel-ratio: 4),
        screen and (min-resolution: 384dpi),
        screen and (min-resolution: 4dppx) {
            background-image: url(../images/questions/questyons-bg-mobile-4x.jpg);
        }
    }  
    
    .questions__wrapper {
        width: 311px;
    }
    
    .questions__title {
        width: 159px;
        margin: 28px auto 20px auto;
    }

    .questions__title-brake {
        display: block;
    }

    .questions__description {
        width: 243px;
    }
 
    .questions__input {
        width: 271px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .questions {
        padding: 88px 0;
        width: 768px;
        height: 688px;
        background-image: url(../images/questions/questyons-bg-tablet-1x.jpg); 

        @media screen and (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url(../images/questions/questyons-bg-tablet-2x.jpg);
        }

        @media screen and (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3),
        screen and (min-resolution: 288dpi),
        screen and (min-resolution: 3dppx) {
            background-image: url(../images/questions/questyons-bg-tablet-3x.jpg);
        }

        @media screen and (min-device-pixel-ratio: 4),
        (-webkit-min-device-pixel-ratio: 4),
        screen and (min-resolution: 384dpi),
        screen and (min-resolution: 4dppx) {
            background-image: url(../images/questions/questyons-bg-tablet-4x.jpg);
        }
    } 

    .questions__wrapper {
        width: 478px;
        height: 512px;
    }

    .questions__title {
        width: 247px;
        margin: 40px auto 24px auto;
        font-size: getSize('more-lage');
    }

    .questions__title-brake {
        display: block;
    }

    .questions__description {
        font-size: getSize('little-small');
        width: 374px;
        margin-bottom: 32px;
    }

    .questions__input {
        width: 394px;
        font-size: getSize('medium');
        &:not(:last-of-type) {
            margin-bottom: 16px;
        }
    }

    .questions__form > button {
        margin-top: 32px;
    }
}

@media screen and (min-width: 1440px) {
    .questions {
        padding: 244px 0;
        width: 1440px;
        height: 1074px;
        background-image: url(../images/questions/questyons-bg-desk-1x.jpg);

        @media screen and (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url(../images/questions/questyons-bg-desk-2x.jpg);
        }

        @media screen and (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3),
        screen and (min-resolution: 288dpi),
        screen and (min-resolution: 3dppx) {
            background-image: url(../images/questions/questyons-bg-desk-3x.jpg);
        }

        @media screen and (min-device-pixel-ratio: 4),
        (-webkit-min-device-pixel-ratio: 4),
        screen and (min-resolution: 384dpi),
        screen and (min-resolution: 4dppx) {
            background-image: url(../images/questions/questyons-bg-desk-4x.jpg);
        }
    } 

    .questions__wrapper {
        width: 774px;
        height: 583px;
    }

    .questions__title {
        width: 681px;
        margin: 60px auto 32px auto;
        font-size: getSize('big-size');
    }

    .questions__description {
        font-size: getSize('medium');
        width: 502px;
        margin-bottom: 44px;
    }

    .questions__input {
        width: 575px;
        font-size: getSize('large');
        &:not(:last-of-type) {
            margin-bottom: 20px;
        }
    }

    .questions__form > button {
        margin-top: 44px;
    }
}