.upcoming-backdrop {
    position: fixed;
    top: 0;
    @include size(100%);

    background-color: rgba(32, 35, 33, 0.60);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 200;
}

.upcoming-modal {
    @include position(100);
    background-color: getColor('primary');
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: getColor('primary');
}

.upcoming-backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: visible;
}

.upcoming-modal__title {
    font-weight: 600;
}

.upcoming-modal__day {
    font-weight: 500;
    position: absolute;
    left: 0;
    background-color: getColor('accent');
    border-radius: 0px 8px 8px 0;
}

.upcoming-modal__list {
    font-weight: 500;
}

.upcoming-modal__panel {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 48px 0 60px;
    z-index: 120;
    color: getColor('black');

    & > p {
        font-weight: 600;
    }
}

.modalSwiper .swiper-pagination-bullet {
    @include size(12px);
    background-color: getColor('input-border-color');
    opacity: 0.6;
}

.modalSwiper .swiper-pagination-bullet-active {
    background-color: getColor('primary');
    opacity: 1;
}

.upcoming-btn-close {
    cursor: pointer;
    position: absolute;
    @include size(40px);
    @include flex(center, center);
    border: none;
    background-color: transparent;
    z-index: 130;

    & > svg {
        @include size(30px);
        fill: getColor('primary');
        transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            fill: getColor('accent');
            transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
   .upcoming-modal {
        @include size(315px, $height: 624px);
   } 
   
   .upcoming-modal__panel {
        padding: 28px 20px;

        & > p {
            font-size: getSize('small');
            margin-bottom: 16px;
        }

        & > .primari-btn {
            width: 100%;
        }
    }

    .swiper-slide.hoverla-modal {
        height: 480px;
        padding: 54px 48px 0 48px;
    }

    .upcoming-modal__title {
        font-size: getSize('little-small');
        margin-bottom: 12px;
    }

    .fupcoming-modal__list,
    .upcoming-modal__panel, 
    .upcoming-modal__day {
        font-size: getSize('small');
    }

    .upcoming-modal__day {
        padding: 14px 190px 14px 48px;
    }

    .upcoming-modal__list {
        margin-top: 72px;

        & .upcoming-modal__item:not(:last-child) {
            margin-bottom: 12px;
        }
    }
    
    @each $item in $tours-day {
  
  .#{$item} {
    background: url('../images/upcoming-modal/#{$item}-mobile-1x.jpg') no-repeat center / contain;

    @include retina(2) {
      background: url('../images/upcoming-modal/#{$item}-mobile-2x.jpg') no-repeat center / contain;
    }

    @include retina(3) {
      background: url('../images/upcoming-modal/#{$item}-mobile-3x.jpg') no-repeat center / contain;
    }
  }
}

    .swiper-pagination {
        margin-bottom: 35px;
    }

    .upcoming-btn-close {
        top: 12;
        right: 12;
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .upcoming-modal {
        @include size(728px, $height: 734px);
    }

    .upcoming-modal__panel {
        padding: 40px 0;

        & > p {
            font-size: getSize('medium');
            margin-bottom: 24px;
        }
    }

    .swiper-slide.hoverla-modal {
        height: 550px;
        padding: 60px 60px 0 60px;
    }

    .upcoming-modal__title {
        font-size: getSize('large');
        margin-bottom: 12px;
    }

    .upcoming-modal__list,
    .upcoming-modal__panel, 
    .upcoming-modal__day {
        font-size: getSize('medium');
    }

    .upcoming-modal__day {
        padding: 12px 253px 12px 60px;
    }
    
    @each $item in $tours-day {
  
  .#{$item} {
    background: url('../images/upcoming-modal/#{$item}-tablet-1x.jpg') no-repeat center / contain;

    @include retina(2) {
      background: url('../images/upcoming-modal/#{$item}-tablet-2x.jpg') no-repeat center / contain;
    }

    @include retina(3) {
      background: url('../images/upcoming-modal/#{$item}-tablet-3x.jpg') no-repeat center / contain;
    }
  }
}

    .swiper-pagination {
        margin-bottom: 45px;
    }

    .upcoming-btn-close {
        top: 20;
        right: 20;
    }
}

@media screen and (min-width:768px) {
    .upcoming-modal__list {
        margin-top: 72px;

        & .upcoming-modal__item:not(:last-child) {
            margin-bottom: 16px;
        }
    }
}

@media screen and (min-width: 1440px) {
    .upcoming-modal {
        @include size(1170px, $height: 976px);
    }

    .upcoming-modal__panel {
        padding: 48px 0 60px;

        & > p {
            font-size: getSize('large');
            margin-bottom: 28px;
        }
    }

    .swiper-slide.hoverla-modal {
        height: 742px;
        padding: 108px 100px 0 100px;
    }

    .upcoming-modal__title {
        font-size: getSize('large-40');
        margin-bottom: 12px;
    }

    .upcoming-modal__list,
    .upcoming-modal__panel, 
    .upcoming-modal__day {
        font-size: getSize('large-f');
    }

    .upcoming-modal__day {
        padding: 7px 307px 7px 100px;
    }
    
    @each $item in $tours-day {
  
  .#{$item} {
    background: url('../images/upcoming-modal/#{$item}-desktop-1x.jpg') no-repeat center / contain;

    @include retina(2) {
      background: url('../images/upcoming-modal/#{$item}-desktop-2x.jpg') no-repeat center / contain;
    }

    @include retina(3) {
      background: url('../images/upcoming-modal/#{$item}-desktop-3x.jpg') no-repeat center / contain;
    }
  }
}

    .swiper-pagination {
        margin-bottom: 55px;
    }

    .upcoming-btn-close {
        top: 40;
        right: 40;
    }
}